.BurgerIngredients {
  width: 600px;
}

.card {
  position: relative;
  width: 272px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
}

.priceCount {
}

.cardTitle {
  text-align: center;
}

.cardList {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
}
