.main {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.login {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
