.container {
  width: 600px;
  composes: mt-10 from global;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.orders {
  display: flex;
  align-items: center;
  gap: 36px;
}

.done {
}
.title {
  composes: text text_type_main-medium from global;
}
.list {
  composes: text mt-6 from global;
  list-style: none;
  height: 200px;
  width: 272px;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.doneItem {
  composes: text text_type_digits-default from global;
  color: #00cccc;
}

.pendingItem {
  composes: text text_type_digits-default from global;
}

.number {
  composes: text text_type_digits-large from global;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #2f2f37;
}
::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}
