.card {
  position: relative;
  width: 272px;
  margin-right: auto;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  text-align: center;
}
