.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  z-index: 1000;
  border-radius: 40px;
}

.title {
  min-width: 580px;
}

.close {
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
}
