.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  display: block;
  min-width: 100%;
  width: 480px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
