.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 289px;
  margin-left: auto;
}

.link {
  composes: flex;
  text-decoration: none;
}

.link:hover {
  color: var(--text-primary-color);
}
