.header {
  background: var(--background);
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 286px;
  margin-left: auto;
}

.link {
  composes: flex;
  composes: text text_type_main-default text_color_inactive mt-4 mb-4 pt-4 pb-4 from global;
  text-decoration: none;
}

.link:hover {
  color: var(--text-primary-color);
}
