.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  composes: pb-15 pr-10 pl-10 from global;
}

.img {
  display: block;
  min-width: 100%;
  width: 480px;
  composes: mb-4 from global;
}
.test {
  composes: text text_type_main-default mb-8 from global;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  composes: text text_type_main-default text_color_inactive from global;
}
