.container {
  width: 600px;
}

.list {
  list-style: none;
  overflow-y: scroll;
  max-height: 464px;
  composes: text custom-scroll from global;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:last-child {
  margin-bottom: 0;
}

.title {
  composes: text text_type_main-large text_color_primary from global;
}

.description {
  composes: text text_type_main-medium text_color_primary mt-10 from global;
}
